@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.page-link,
.button {
  color: white;
  transition: all 0.3s ease;
}

.page-link:hover,
.button:hover {
  color: white;
  border-radius: 8px;
  background-color: rgb(59 130 246);
  padding: 0.1em 0.5em;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}